@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    margin: 0;
    font-family: "Noto Sans KR", serif;
}

.parent {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#image {
    height: 40vh;
    width: 40vh;
    transition: transform 0.2s ease;
}

#image:hover {
    transform: scale(1.03);
}

#sidebutton {
    display: none;
}

#sidebutton + label {
    top: 5vh;
    left: 5vh;
    display: block;
    width: 5vh;
    height: 4vh;
    position: relative;
    cursor: pointer;
    z-index: 2;
}

#sidebutton + label span {
    display: block;
    position: absolute;
    width: 100%;
    height: 0.5vh;
    border-radius: 3vh;
    background: #000;
    transition: all .35s;
}

#sidebutton:checked + label span {
    background: #ccc;
}

#sidebutton + label span:nth-child(1) {
    top: 0;
}
#sidebutton + label span:nth-child(2) {
    top: 2vh;
    transform: translateY(-50%);
}
#sidebutton + label span:nth-child(3) {
    bottom: 0;
}




.sidebar {
    position: fixed;
    width: 25vw;
    height: 100vh;
    background: #222;
    top:0;
    left: -30vw;
    transition: all .35s;
}
#sidebutton:checked + label + .sidebar {
    left: 0;
    z-index: 1;
}

#shop, #store, #items, #dict, #link, #useoil {
    padding: 0.3vh;
    font-size: 4vh;
    color: #ccc;
    cursor: pointer;
    z-index: -1;
}

.fontmanager input[type="checkbox"]:checked + label #useoil {
    color: #03ff7d;
    transition: all 0.3s ease;
}

.fontmanager input[type="checkbox"] {
    display: none;
}

.fontmanager {
    position: relative;
    top: 15vh;
    left: 5vh;
}

#shopcheck {
    display: none;
}
#storecheck {
    display: none;
}

#shopcheck + label + div { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
#storecheck + label + div { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

#shopcheck:checked + label + div {
    display: block;
}
#storecheck:checked + label + div {
    display: block;
}

#shopcheck + label + div > div {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 60vh;
    background: #fff;
    z-index: 4;
}
#storecheck + label + div > div {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 60vh;
    background: #fff;
    z-index: 4;
}

#shopcheck + label + div >div > label {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    background-color: #fc4a19;
    padding: 2vh;
    border-radius: 100%;
    z-index: 3;
    cursor: pointer;
}
#storecheck + label + div >div > label {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(40%, -40%);
    background-color: #fc4a19;
    padding: 2vh;
    border-radius: 100%;
    z-index: 3;
    cursor: pointer;
}

#shopcheck + label + div > label {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 3;
    cursor: pointer;
}
#storecheck + label + div > label {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    z-index: 3;
    cursor: pointer;
}

.info {
    position: absolute;
    top: 50%;
    right: 15%;
    font-size: 4vh;
}

#level {
    font-weight: bolder;
}

.sellbean {
    margin: 3vh 5vh;
    cursor: pointer;
    text-align: center;
    font-size: 4vh;
    width: max-content;
    height: max-content;
    padding: 1vh;
    border-radius: 1vh;
    border:#000 0.3vh solid;
    transition: transform 0.35s ease;
}
.sellbean:hover {
    transform: scale(1.03);
}

.caketrade1 {
    margin: 3vh 5vh;
    cursor: pointer;
    text-align: center;
    font-size: 4vh;
    width: max-content;
    height: max-content;
    padding: 1vh;
    border-radius: 1vh;
    border:#000 0.3vh solid;
    transition: transform 0.35s ease;
}
.caketrade1:hover {
    transform: scale(1.03);
}

.caketrade2 {
    margin: 3vh 5vh;
    cursor: pointer;
    text-align: center;
    font-size: 4vh;
    width: max-content;
    height: max-content;
    padding: 1vh;
    border-radius: 1vh;
    border:#000 0.3vh solid;
    transition: transform 0.35s ease;
}
.caketrade2:hover {
    transform: scale(1.03);
}

.oiltrade {
    margin: 3vh 5vh;
    cursor: pointer;
    text-align: center;
    font-size: 4vh;
    width: max-content;
    height: max-content;
    padding: 1vh;
    border-radius: 1vh;
    border:#000 0.3vh solid;
    transition: transform 0.35s ease;
}
.oiltrade:hover {
    transform: scale(1.03);
}

.storescreen > div {
    font-size: 3.8vh;
    margin: 1vh 5vh;
}



